html {
  font-size: 20px;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 40px;
  font-style: normal;
  letter-spacing :1.2em;
  text-shadow: 1px 1px 3px gray;
  border-bottom: 3px  solid rgb(115, 115, 114);
  text-decoration-color: rgb(115, 115, 114);
}
  .highlight-m  {
    color: skyblue;
  }
  .highlight-p {
    color:rgb(255, 192, 203)
  }
.pink {
color:rgb(255, 192, 203) ;
  }
.skyblue  {
    color: skyblue;
  }
#basic p > strong {
  font-weight: bold;
}  